.landing-page{
    height: 70%;
    width: 40%;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 15px;
    border-radius: 20px;
}

.landing-page a{
    color: white;
}

.boxes{
    border-bottom: 2px dashed white;
    padding: 10px;
}