@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(1,104,113);
  font-family: 'Roboto', sans-serif;
}