.criteria{
    height: 50%;
    width: 40%;
    padding: 10px 15px;
    background-color: black;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.heading{
    height: 20%;
    width: 100%;
    background-color: rgb(22,134,176);
    color: white;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.common{
    margin-top: 15px;
    color: white;
}

.span{
    cursor: pointer;
}

.and{
    font-size: 0.7rem;
}

.lastP{
    margin-top: 15px;
}